.colorBody {
  .swatch {
    padding: 3px;
    background: #fff;
    border-radius: 1px;
    box-shadow: 0 0 0 1px rgba(0;0;0;.1);
    display: inline-block;
    cursor: pointer;
  }
  .color {
    width: 36px;
    height: 14px;
    border-radius: 2px;
    background: #fff;
  }
}
.popover {
  position: absolute;
  z-index: 2;
  input {
    color: black;
    font: inherit;
    margin: 0;
    line-height: normal;
    box-sizing: content-box;
  }
}
.cover {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
h3 {
  height: 32px;
  font-size: 12px;
  line-height: 32px;
  padding: 0 16px;
  background-image: linear-gradient(
    90deg,
    rgba(0, 4, 9, 0.32) 0,
    rgba(0, 2, 4, 0) 100%
  );
}
h3:before {
  margin: 0 10px 0 0;
  display: inline-block;
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 1px;
  background: #3484f5;
}
.text {
  color: #bfbdbd;
}
