.config {
  width: 300px;
  height: 100%;
  .header {
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    background-color: #343b40;
  }
  .body {
    padding: 10px;
    position: relative;
  }
}
