.menus {
  display: -webkit-flex;
  /* Safari */
  display: flex;
  width: auto;
}

&::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  background: rgba(117, 180, 253, 0.2);
  box-shadow: 0rem 0.01rem 0.01rem 0rem rgba(1, 69, 132, 0.5);
  border-radius: 0.08rem;
}
&::-webkit-scrollbar-track {
  background-color: transparent;
}

&::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background: rgb(111, 117, 122);
  // box-shadow: 0px 1px 3px 0px rgba(44, 47, 49, 0.4);
}
/*滚动条的上下两端的按钮*/
&::-webkit-scrollbar-button {
  height: 0px;
}
.container {
  text-align: center;
  width: auto;
  flex-grow: 1;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.attr {
  min-width: 300px;
  width: auto;
  display: -webkit-flex;
  /* Safari */
  display: flex;
  flex-direction: column;
  position: relative;
}

.tBody {
  position: fixed;
  z-index: 1;
  width: 100%;
  font-size: 24px;
  color: #fff;
  line-height: 50px;
  top: 0;
  background-color: #0a192f;
}

.box {
  width: 100%;
  height: 100%;
  border: 1px solid #199e60;
}
